:root {
  --hero-footer-color: #1f2937;
  --hero-text-color: #f9faf8;
  --hero-secondary-color: #e5e7eb;
  --hero-logo-color: #f9faf8;
  --button-color: #3882f6;
  --info-header-color: #1f2937;
  --quote-section-color: #e5e7eb;
  --quote-text: #1f2937;
}

* {
  border: 1px solid black;
  margin: 0;
  top: 0;
}

body {
  width: 100%;
}

header {
  padding-left: 6vw;
  height: 10vh;
  background-color: var(--hero-footer-color);
  color: var(--hero-text-color);
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 2vw;
  margin-right: 10vw;
}

.header-links a:link,
.header-links a:active,
.header-links a:visited,
.header-links a:hover {
  text-decoration: none;
  display: flex;
  color: var(--hero-secondary-color);
  font-size: 18px;
}

.logo {
  color: var(--hero-logo-color);
  display: flex;
  align-items: center;
  font-size: 24px;
}

.hero {
  background-color: var(--hero-footer-color);
  color: var(--hero-text-color);
  height: 45vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex-basis: 1 0 0;
  margin-left: 6vw;
  margin-top: -5vh;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-text p {
  font-size: 18px;
}

.hero-image img {
  height: auto;
  width: 420px;
  display: flex;
}

.hero-image {
  margin-right: 10vw;
}

button {
  background-color: var(--button-color);
  color: var(--hero-text-color);
  border-radius: 10px;
  height: 4vh;
  width: 8vw;
}

.information-section {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 40vh;
  gap: 20px;
  margin: auto 12vw;
}

.information-section-title {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  padding: 2%;
}

#info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: auto 6vh;
}

#info-box img {
  display: flex;
  height: auto;
  width: auto;
  max-width: 150px;
  border-radius: 10px;
}

#info-box p {
  text-align: center;
}

.quote-section {
  background-color: var(--quote-section-color);
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  
}

.quote-text blockquote {
    margin: auto;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  width: 80vw;
}
.quote-text p {
  text-align: right;
  font-weight: 900;
  margin: auto;
  width: 80vw;
  padding: 2vh 0;
}

.action-section {
    height: 30vh;
    display: flex;
    flex-flow:  wrap;
    justify-content: center;
    align-items: center;
}

.action-tag {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--button-color);
    width: 75vw;
    padding: 3vh 0;
    border-radius: 10px;
}

.action-tag button {
    color: var(--hero-logo-color);
    border: 1px solid white;
}
.action-section-text{
color: var(--hero-logo-color)
}

.action-section-text {
    
}



.footer-info {
    background-color: var(--hero-footer-color);
    height: 10vh;
    color: var(--hero-logo-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
