:root {
    --hero-footer-color: #1f2937;
    --hero-text-color: #F9FAF8;
    --hero-secondary-color: #E5E7EB;
    --hero-logo-color: #F9FAF8;
    --button-color: #3882F6;
    --info-header-color: #1F2937;
    --quote-color: #E5E7EB;
    --quote-text: #1F2937;
}

* {
    border: 1px solid black;
    margin: 0;
    top: 0;
}

header {
    padding-left: 6vw;
    height: 6vh;
    background-color: var(--hero-footer-color);
    color: var(--hero-text-color);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
}

.header-links  {
    display: flex;
    gap: 2vw;
    margin-right: 10vw;

}

.header-links a:link,
.header-links a:active,
.header-links a:visited,
.header-links a:hover{
    text-decoration: none;
    display: flex;
    color: var(--hero-secondary-color)

}


.logo {
    color: var(--hero-logo-color);
    display: flex;
    align-items: center;
}


.hero {
    background-color: var(--hero-footer-color);
    color: var(--hero-text-color)
}