:root {
    --hero-footer-color: #1f2937;
    --hero-text-color: #F9FAF8;
    --hero-subtext-color: #E5E7EB;
    --hero-logo-color: #F9FAF8;
    --button-color: #3882F6;
    --info-header-color: #1F2937;
    --quote-color: #E5E7EB;
    --quote-text: #1F2937;
}